.cajita1 {
    border: 2px solid black;
    background-color: palevioletred;
    color: aliceblue;
    height: 100px;
    width: 100px;

}

.cajita2 {
    border: 2px solid black;
    background-color: green;
    color: aliceblue;
    height: 100px;
    width: 100px;

}

.cajita3 {
    border: 2px solid black;
    background-color: blue;
    color: aliceblue;
    height: 100px;
    width: 100px;

}