.contenedor {
    overflow: auto;
}

.leftside {
    float: none;
    width: auto;
}

.texto {
    position: absolute;
    top: 0;
    color: palevioletred;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* MINIMO */
@media (min-width:545px) {

    .leftside {
        float: left;
        width: 300px;
    }

    img {
        width: 300px;
    }

    .texto {
        position: static;
    }

}


/* MAXIMO */
@media(max-width:900px) {
    body {
        background-color: black;
    }
}

/* UNO Y OTRO */

@media(max-heigth:500px) and (max-width:900px) {
    body {
        background-color: black;
    }
}

@media(min-heigth:500px) and (min-width:900px) {
    body {
        background-color: black;
    }
}