/* COLORES Y CENTRADO AL TITULO Y TEXTO */

h1 {
    color: purple;
    text-align: center;
}

h2 {
    color: violet;
    text-align: center;
}

p {
    color: mediumvioletred;
    text-align: justify;
}

b,
i {
    color: black;
}

/* DECORACION DE TEXTO */
.overline {
    text-decoration: overline;
    text-decoration-color: palevioletred;
    text-decoration-style: solid;

}

.line-through {
    text-decoration: line-through;
    text-decoration-color: mediumvioletred;
    text-decoration-style: double;
}

.underline {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-style: wavy;
}


/* DECORACION DE TEXTO CON SHORTHAND  */
.underline {
    text-decoration: underline palevioletred wavy 1px;
}

/* TRANFORMACION DE TEXTO  */
.transformado {
    text-transform: capitalize;
}


/* SPACE */
.transformado {
    /*SANGRIA*/
    text-indent: 50px;
    /*ESPACIADO ENTRE LINEAS*/
    line-height: 2px;
    /*ESPACIADO DE LETRAS*/
    letter-spacing: 2px;
    /*SEPARA PALABRAS(SE PUEDE USAR NUMEROS NEGATIVOS*/
    word-spacing: 5px;
    /*EL TEXTO NO SE LIMITA AL ANCHO DE LA CAJA PADRE*/
    white-space: nowrap;

}

/* TEXT SHADOW
SE LE PUEDE AGREGAR MAS DE UNA SOMBRA O GLOW
SE PUEDE USAR NUMEROS NEGATIVOS 
NORMALMENTE SOLO SE UTILIZA UNA SOMBRA*/
H1 {
    text-shadow: 2px 10px 5px pink, 2px 2px 10px green;
}