/*EN EL CASO DE COMENTAR EN CSS SE UTILIZA:*/

/**/

h1 {
    color: blueviolet;
    background-color: black;

}

/*SE COMBINA TAMBIEN LAS TECLAS CTRL + } */

/* h2{
    color: aqua;
    background-color: black;
} */